.headline {
  background-color: #F5F5F5;
  padding: 20px;
}

.basic-button {
  border-radius: 3px;
  background-color: #f2f2f2;
  border: 1px solid gray;
  padding: 8px 20px;
}

.push-button {
  background-color:#3366cc;
  border-radius: 3px;
  color: white;
  border: 1px solid gray;
  padding: 8px 20px;
}