html { 
    background:#308189;
    margin:1em
}

body { 
    margin:1.5em;
    background:#DFEBF0;
    font-family:"Merriweather", "Garamond", serif;
    font-weight: 300
}

head {
    font-family:"Merriweather", "Garamond", serif
}

h1,h2 {
    margin:0.9em 1 1 2;
    font-weight: bold
 }

h2 {text-align: center}

p {text-align: justify}
