
/*
============================================
jumbotron
============================================
 */

.jumbotron {
    max-width: 100%;
    max-height: 80%;
    min-height: 600px;
    margin: 0;
    padding: 0;
    background-image: url("../images/kanye.jpg");
    background-size: cover;
    background-position: center;
}

.jumbotron:after {
    content: " ";
    display: block;
    width: 100%;
    padding-top: 4.918%;
    /* slope */
    height: 102.786px;
    /* start height */
}


/*
============================================
update button
============================================
 */

.jumbotron .update-btn {
    position: absolute;
    top: 75px;
    left: 75px;
    width: 100px;
    height: 30px;
}
