/*
============================================
jumbotron
============================================
 */

.jumbotron {
  max-height: 640px;
  position: relative;
  display: inline-block;
  text-align: center;
}

.jumbotron img {
  height: 640px;
}

/*
============================================
update button
============================================
 */

 .jumbotron .update-btn {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 100px;
  height: 30px;
 }