body {
  background-image: url("../images/kanye.jpg");
  background-size: 100%;
  font: 400 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main {
  height: 400px;
}

.nav-black {
  color: white;
  margin-top: 5px;
  background-color: black;
  border-style: none;
}

.nav-white {
  background-color: white;
  border-style: none;
}

a, .navbar.navbar-static-top {
  color: #aaaaaa;
}