.color {
  color: #686a70;
}
.img-wrapper {
  position: relative;
 }

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 175px;
}

.img-overlay:before {
  content: ' ';
  display: block;
  height: 50%;
}
