.above_the_fold {
  background-color: #f5f5f5;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.site_top_bar {
  background-color: #f8f8f8;
  border-width: thick;
  border-color: #ececec;
  border-bottom-style:solid;
  width: 100%;
  margin-left: auto;
}

.nav-tabs {
  margin-bottom: 10px;
}
