.top {
  margin-left: 6%;
  margin-right: 6%;
  padding-right: 10%;

}

.navbar {
  margin-bottom: 0;
}

.top-text {
  padding-left: 4%;
  padding-right: 8%;
}

.triple-wide-stuff {
  margin-left: 6%;
  margin-right: 6%;
}
