/*styles.css*/
.row {
  margin: 50px;
  padding: 25px;
}
.top {
  background-color: #eee;
}
.col-md-4 {
  text-align: center;
}
button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  background: white;
}
.button-1 {
  background-color: #9477cb;
  color: white;
}
.button-2 {
  background-color: #1bb21b;
  color: white;
}
.button-3 {
  background-color: #20cadd;
  color: white;
}
.button-4 {
  background-color: #ffc04d;
  color: white;
}
